html{
    height: 100%;
}
body{
    font-family: 'VT323', monospace;
    background-image: url("images/bg.png");
    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover; 
    background-size: 100% 100%;
    color : #b37090;
}
#wrapper{
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5rem auto;
	margin-bottom: 2rem;
    text-align: right;
}
#calWrapper{
    background-image: url("images/calcContainer.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    width: 550px;
    height: 400px;
}
#calcContainer{
    width: 450px;
    height: 290px;
    background-color: #f5ebf0;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5em;
}
#display{
    background-color: white;
    height: 30px;
    border-top: 2px solid #b37090;
    border-left: 2px solid #b37090;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: 515px;
}
#calcButtons{
    width: 515px;
    height: 240px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn{
    height: 45px;
    width: 105px;
    margin-left: 14px;
    margin-bottom: 10px;
    font-family: 'VT323', monospace;
    font-size: 22px;
    background-color: #f5ebf0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #b37090;
    border-right: 2px solid #b37090;
    transition-duration: 0.4s;
}
#equals{
    height: 45px;
    width: 234px;
    color: #c581e4;
}
#ac{
    color:#c581e4;
}
#clear{
    color: #c581e4;
}
#decimal{
    color: #6cb5ff;
}
#zero{
    color: #6cb5ff;
}
#nine{
    color: #6cb5ff;
}
#eight{
    color: #6cb5ff;
}
#seven{
    color: #6cb5ff;
}
#six{
    color: #6cb5ff;
}
#five{
    color: #6cb5ff;
}
#four{
    color: #6cb5ff;
}
#three{
    color: #6cb5ff;
}
#two{
    color: #6cb5ff;
}
#one{
    color: #6cb5ff;
}
#remainder{
    color: #ea8186;
}
#division{
    color: #ea8186;
}
#multiply{
    color: #ea8186;
}
#add{
    color: #ea8186;
}
#subtract{
    color: #ea8186;
}
.btn:hover{
    background-color: #ffb6cd;
}
.btn:active{
    background-color: #ffb6cd;
    transform: translateY(2px);
}